ops/deployment/azuredeploy-logic-apps.json
{
	"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"azureDevOpsOrgName": {
			"type": "string",
			"metadata": {
				"description": "Name of the Azure DevOps Orginization."
			}
		},
		"azureDevOpsProject": {
			"type": "string",
			"metadata": {
				"description": "Name of the Azure DevOps Project."
			}
		}
	},
	"variables": {
		"name": "ops30main",
		"assignLogicAppName": "ops30Assign",
		"attachWorkbookAppName": "ops30AttachWorkbook",
		"location": "[resourceGroup().location]"
	},
	"resources": [{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "visualstudioteamservices",
			"location": "[variables('location')]",
			"properties": {
				"displayName": "Azure DevOps",
				"customParameterValues": {},
				"api": {
					"id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/visualstudioteamservices')]"
				}
			}
		},
		{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "teams",
			"location": "[variables('location')]",
			"properties": {
				"displayName": "TeamsConnection",
				"customParameterValues": {},
				"api": {
					"id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
				}
			}
		},
		{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "azuretables",
			"location": "[variables('location')]",
			"properties": {
				"displayName": "oncall",
				"customParameterValues": {},
				"api": {
					"id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
				}
			}
		},
		{
			"type": "Microsoft.Logic/workflows",
			"apiVersion": "2017-07-01",
			"name": "[variables('name')]",
			"location": "[variables('location')]",
			"dependsOn": [
				"[resourceId('Microsoft.Web/connections', 'visualstudioteamservices')]",
				"[resourceId('Microsoft.Web/connections', 'teams')]"
			],
			"properties": {
				"state": "Enabled",
				"definition": {
					"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
					"contentVersion": "1.0.0.0",
					"parameters": {
						"$connections": {
							"defaultValue": {},
							"type": "Object"
						}
					},
					"triggers": {
						"manual": {
							"type": "Request",
							"kind": "Http",
							"inputs": {
								"schema": {
									"properties": {
										"alertContext": {
											"properties": {
												"AffectedConfigurationItems": {
													"items": {
														"type": "string"
													},
													"type": "array"
												},
												"AlertType": {
													"type": "string"
												},
												"IncludedSearchResults": {
													"type": "string"
												},
												"LinkToSearchResults": {
													"type": "string"
												},
												"Operator": {
													"type": "string"
												},
												"ResultCount": {
													"type": "integer"
												},
												"SearchIntervalDurationMin": {
													"type": "string"
												},
												"SearchIntervalEndtimeUtc": {
													"type": "string"
												},
												"SearchIntervalInMinutes": {
													"type": "string"
												},
												"SearchIntervalStartTimeUtc": {
													"type": "string"
												},
												"SearchQuery": {
													"type": "string"
												},
												"SearchResult": {
													"properties": {
														"dataSources": {
															"items": {
																"properties": {
																	"resourceId": {
																		"type": "string"
																	},
																	"tables": {
																		"items": {
																			"type": "string"
																		},
																		"type": "array"
																	}
																},
																"required": [
																	"resourceId",
																	"tables"
																],
																"type": "object"
															},
															"type": "array"
														},
														"tables": {
															"items": {
																"properties": {
																	"columns": {
																		"items": {
																			"properties": {
																				"name": {
																					"type": "string"
																				},
																				"type": {
																					"type": "string"
																				}
																			},
																			"required": [
																				"name",
																				"type"
																			],
																			"type": "object"
																		},
																		"type": "array"
																	},
																	"name": {
																		"type": "string"
																	},
																	"rows": {
																		"items": {
																			"items": {
																				"type": "string"
																			},
																			"type": "array"
																		},
																		"type": "array"
																	}
																},
																"required": [
																	"name",
																	"columns",
																	"rows"
																],
																"type": "object"
															},
															"type": "array"
														}
													},
													"type": "object"
												},
												"SeverityDescription": {
													"type": "string"
												},
												"Threshold": {
													"type": "integer"
												},
												"WorkspaceId": {
													"type": "string"
												}
											},
											"type": "object"
										}
									},
									"type": "object"
								}
							}
						}
					},
					"actions": {
						"Create_a_channel": {
							"runAfter": {
								"Create_a_work_item": [
									"Succeeded"
								]
							},
							"type": "ApiConnection",
							"inputs": {
								"body": {
									"displayName": "📟 Incident -  @{body('Create_a_work_item')?['id']}"
								},
								"host": {
									"connection": {
										"name": "@parameters('$connections')['teams']['connectionId']"
									}
								},
								"method": "post",
								"path": "/beta/groups/@{encodeURIComponent('5053167b-f5fb-4b5d-95b1-e256b1bcfcdb')}/channels"
							}
						},
						"Create_a_work_item": {
							"runAfter": {},
							"type": "ApiConnection",
							"inputs": {
								"body": {
									"title": " @{triggerBody()?['alertContext']?['AlertType']}- Severity: @{triggerBody()?['alertContext']?['SeverityDescription']}"
								},
								"host": {
									"connection": {
										"name": "@parameters('$connections')['visualstudioteamservices']['connectionId']"
									}
								},
								"method": "patch",
								"path": "[concat('/@{encodeURIComponent(''', parameters('azureDevOpsProject'), ''')}/_apis/wit/workitems/$@{encodeURIComponent(''Task'')}')]",
								"queries": {
									"account": "[parameters('azureDevOpsOrgName')]"
								}
							}
						},
						"Post_a_message_as_the_Flow_bot_to_a_channel": {
							"runAfter": {
								"Update_a_work_item": [
									"Succeeded"
								]
							},
							"type": "ApiConnection",
							"inputs": {
								"body": {
									"messageBody": "<img src=\"https://thumbs.gfycat.com/DelayedVacantDassie-max-1mb.gif\" alt=\"Alert\" height=\"42\" width=\"42\"> <br />\n\nIncident: @{body('Update_a_work_item')?['id']}<br />\n\n@{triggerBody()?['alertContext']?['AlertType']} : @{triggerBody()?['alertContext']?['SeverityDescription']}<br />\n<br />\nTroubleshooting Guide Coming. Please Standby...📋<br />\n\n",
									"recipient": {
										"channelId": "@body('Create_a_channel')?['id']"
									}
								},
								"host": {
									"connection": {
										"name": "@parameters('$connections')['teams']['connectionId']"
									}
								},
								"method": "post",
								"path": "/flowbot/actions/notification/recipienttypes/channel",
								"queries": {
									"groupId": "5053167b-f5fb-4b5d-95b1-e256b1bcfcdb"
								}
							}
						},
						"Update_a_work_item": {
							"runAfter": {
								"Create_a_channel": [
									"Succeeded"
								]
							},
							"type": "ApiConnection",
							"inputs": {
								"body": {
									"userEnteredFields": {
										"Description": "<a href=\"https://teams.microsoft.com/l/channel/@{body('Create_a_channel')?['id']}/Active%2520Incident%2520@{body('Create_a_work_item')?['id']}?groupId=042fcb78-dd7d-4300-84c2-1515890c1697&tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47\">Communications Channel</a>"
									}
								},
								"host": {
									"connection": {
										"name": "@parameters('$connections')['visualstudioteamservices']['connectionId']"
									}
								},
								"method": "patch",
								"path": "/_apis/wit/workitems/@{encodeURIComponent(body('Create_a_work_item')?['id'])}",
								"queries": {
									"account": "[parameters('azureDevOpsOrgName')]",
									"project": "Incident Management"
								}
							}
						}
					},
					"outputs": {}
				},
				"parameters": {
					"$connections": {
						"value": {
							"teams": {
								"connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/teams')]",
								"connectionName": "teams",
								"id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
							},
							"visualstudioteamservices": {
								"connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/visualstudioteamservices')]",
								"connectionName": "visualstudioteamservices",
								"id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/visualstudioteamservices')]"
							}
						}
					}
				}
			}
		},
		{
			"type": "Microsoft.Logic/workflows",
			"apiVersion": "2017-07-01",
			"name": "[variables('assignLogicAppName')]",
			"location": "[variables('location')]",
			"dependsOn": [
				"[resourceId('Microsoft.Web/connections', 'azuretables')]",
				"[resourceId('Microsoft.Web/connections', 'visualstudioteamservices')]"
			],
			"properties": {
				"state": "Enabled",
				"definition": {
					"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
					"contentVersion": "1.0.0.0",
					"parameters": {
						"$connections": {
							"defaultValue": {},
							"type": "Object"
						}
					},
					"triggers": {
						"When_a_work_item_is_created": {
							"recurrence": {
								"frequency": "Second",
								"interval": 1
							},
							"splitOn": "@triggerBody()?['value']",
							"type": "ApiConnection",
							"inputs": {
								"host": {
									"connection": {
										"name": "@parameters('$connections')['visualstudioteamservices']['connectionId']"
									}
								},
								"method": "get",
								"path": "[concat('/v2/workitemcreated_trigger/@{encodeURIComponent(''', parameters('azureDevOpsProject'), ''')}/_apis/wit/wiql')]",
								"queries": {
									"account": "[parameters('azureDevOpsOrgName')]",
									"areaPathComparison": "Equals",
									"iterationPathComparison": "Equals",
									"wiql__System_WorkItemType": "Task"
								}
							}
						}
					},
					"actions": {
						"For_each": {
							"foreach": "@body('Parse_JSON')",
							"actions": {
								"Update_a_work_item": {
									"runAfter": {},
									"type": "ApiConnection",
									"inputs": {
										"body": {
											"userEnteredFields": {
												"Assigned To": "@items('For_each')['email']",
												"State": "Doing"
											}
										},
										"host": {
											"connection": {
												"name": "@parameters('$connections')['visualstudioteamservices']['connectionId']"
											}
										},
										"method": "patch",
										"path": "/_apis/wit/workitems/@{encodeURIComponent(triggerBody()?['id'])}",
										"queries": {
											"account": "[parameters('azureDevOpsOrgName')]",
											"project": "[parameters('azureDevOpsProject')]"
										}
									}
								}
							},
							"runAfter": {
								"Parse_JSON": [
									"Succeeded"
								]
							},
							"type": "Foreach"
						},
						"Get_entities": {
							"runAfter": {},
							"type": "ApiConnection",
							"inputs": {
								"host": {
									"connection": {
										"name": "@parameters('$connections')['azuretables']['connectionId']"
									}
								},
								"method": "get",
								"path": "/Tables/@{encodeURIComponent('oncall')}/entities",
								"queries": {
									"$filter": "oncall eq true",
									"$select": "email"
								}
							}
						},
						"Parse_JSON": {
							"runAfter": {
								"Get_entities": [
									"Succeeded"
								]
							},
							"type": "ParseJson",
							"inputs": {
								"content": "@body('Get_entities')?['value']",
								"schema": {
									"items": {
										"properties": {
											"email": {
												"type": "string"
											},
											"odata.etag": {
												"type": "string"
											}
										},
										"required": [
											"odata.etag",
											"email"
										],
										"type": "object"
									},
									"type": "array"
								}
							}
						}
					},
					"outputs": {}
				},
				"parameters": {
					"$connections": {
						"value": {
							"azuretables": {
								"connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables')]",
								"connectionName": "azuretables",
								"id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
							},
							"visualstudioteamservices": {
								"connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/visualstudioteamservices')]",
								"connectionName": "visualstudioteamservices",
								"id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/visualstudioteamservices')]"
							}
						}
					}
				}
			}
		},
		{
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('attachWorkbookAppName')]",
			"location": "[variables('location')]",
			"dependsOn": [
				"[resourceId('Microsoft.Web/connections', 'azuretables')]",
				"[resourceId('Microsoft.Web/connections', 'visualstudioteamservices')]",
				"[resourceId('Microsoft.Web/connections', 'teams')]"
			],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_work_item_is_updated": {
                            "recurrence": {
                                "frequency": "Second",
                                "interval": 1
                            },
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['visualstudioteamservices']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/v2/workitemupdated_trigger/@{encodeURIComponent(''', parameters('azureDevOpsProject'), ''')}/_apis/wit/wiql')]",
                                "queries": {
                                    "account": "[parameters('azureDevOpsOrgName')]",
                                    "areaPathComparison": "Equals",
                                    "iterationPathComparison": "Equals",
                                    "wiql__System_WorkItemType": "Task"
                                }
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Parse_JSON')",
                            "actions": {
                                "Post_a_message_as_the_Flow_bot_to_a_channel": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "messageBody": "<a href=\"@{items('For_each')['workbook']}\">@{triggerBody()?['fields']?['Custom_AlertRuleName']} Trouble Shooting Guide</a> 🎁\n<br /> \nDon't forget to update the <a href=\"https://tailwindstatus.z22.web.core.windows.net/\">Status Page</a>",
                                            "recipient": {
                                                "channelId": "@triggerBody()?['fields']?['Custom_MSTeamsChannel']"
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/flowbot/actions/notification/recipienttypes/channel",
                                        "queries": {
                                            "groupId": "5053167b-f5fb-4b5d-95b1-e256b1bcfcdb"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_entities": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Tables/@{encodeURIComponent('workbooks')}/entities",
                                "queries": {
                                    "$filter": "severity eq 1",
                                    "$select": "workbook"
                                }
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Get_entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_entities')?['value']",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "odata.etag": {
                                                "type": "string"
                                            },
                                            "workbook": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "odata.etag",
                                            "workbook"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
							"teams": {
								"connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/teams')]",
								"connectionName": "teams",
								"id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
							},
							"azuretables": {
								"connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azuretables')]",
								"connectionName": "azuretables",
								"id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]"
							},
							"visualstudioteamservices": {
								"connectionId": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/visualstudioteamservices')]",
								"connectionName": "visualstudioteamservices",
								"id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/visualstudioteamservices')]"
							}
                        }
                    }
                }
            }
        }
	]
}